<!DOCTYPE html>
<html>
<head>
  <title>Free Swim | ioS Applications | Web Applications | Ruby on Rails Web Development</title>
  <meta name="description"></meta>
  <meta name="keywords" content="ioS application development,web application development,ruby,rails,RoR,ioS,web sites,web apps">
  <meta name="description" content="Free Swim helps you take your app idea to market.  Free Swim specializes in full stack RoR app development and ioS mobile app development.">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header' %>
<%= yield %>
<%= render 'layouts/footer' %>
</body>
</html>
